/* 公共css样式 */

/* 版心 */
.w{
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航栏模块 */
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
}
/* 左浮动 */
.fl{
    float: left;
}
/* 右浮动 */
.fr{
    float: right;
}